---
import MainLayout from '../layouts/MainLayout.astro';
import PageTitle from '../components/PageTitle.astro';

import { Image } from 'astro:assets';
import richardHeadshot from '../assets/images/about/Richard Waine 20230315 (500px).jpg';
import bermudaCruisePhoto from '../assets/images/about/Richard and Ilyse - HeadshotCrewz - Bermuda.jpg';
import lintRollerPhoto from '../assets/images/about/Richard Waine Using Lint Roller.jpg';
import rwFinalV1Still from '../assets/images/about/RW_FINAL_V1_FOR REVIEW.00_00_48_06.Still004 (16 x 9) - compressed.jpg';
import img1912 from '../assets/images/about/IMG_1912.jpeg';
import harley1 from '../assets/images/about/Harley-1.jpeg';
import rwInSession from '../assets/images/about/RW - in session.jpg';
import HSCMentor from '../assets/images/logos/HSC - Mentor.jpg';
import HSCLogo from '../assets/images/logos/HSC - White.jpg';
import JPEGmini from '../assets/images/logos/JPEGmini.jpg';
import SavageLogo from '../assets/images/logos/SavageLogo.jpg';
import TetherTools from '../assets/images/logos/TetherTools.png';
import ThinkTank from '../assets/images/logos/ThinkTank.jpg';


const h1 ='About Richard Waine';
---

<MainLayout title= "About Headshot Photographer Richard Waine" description="Lancaster Headshot photographer Richard Waine discusses his story and explains why he loves helping you with high quality headshots.">

	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"name": "Richard Waine",
		"jobTitle": "Professional Headshot Photographer",
		"url": "https://www.richardwainephotography.com/about-lancaster-headshot-photographer-richard-waine",
		"sameAs": [
			"https://www.facebook.com/RichardWainePhotography",
			"https://www.instagram.com/richardwaine",
			"https://www.linkedin.com/in/richardwaine/"
		],
		"worksFor": {
			"@type": "ProfessionalService",
			"@id": "https://www.richardwainephotography.com"
		},
		"knowsAbout": [
			"Headshot Photography",
			"Corporate Photography",
			"Portrait Photography",
			"Professional Headshots",
			"Acting Headshots",
			"LinkedIn Headshots"
		]
	}
	</script>

<main>
        <PageTitle title={h1} />

        <div class="wrapper">
            <div>
                <h2>THE STORY</h2>

                <p>In 2006,  I bought my first camera, and began taking pictures of anything and everything. I wasn’t very good, and I had no idea why my pictures were as awful as they were, but I enjoyed every second of it.</p>

                <p>I had hoped to capture images of my then-girlfriend's son on the wrestling mat. I saw other photographers with fancy cameras and equipment, so I followed suit.</p>

                <p>I accumulated a ton of gear, and didn’t have the slightest understanding of how to take a good picture.  I turned to YouTube for help.</p>

            </div>

            <div class="two-cols call-out">
                <Image class="rw-headshot" src={richardHeadshot} alt="Richard Waine, Headshot Photographer, Lancaster PA Headshots, Lancaster Headshots, Richard Waine Photography, Richard Waine headshot studio" width={400} height={400} loading="lazy" />

                <div>
                    <p>I stumbled across a video where Peter Hurley, the foremost authority on headshots in the world, was speaking. He was a powder keg of energy, with a magnetic personality. On top of that, his images were beautiful! It was instant inspiration for me. I needed to find a way to learn more, and I needed to meet Peter.</p>

                    <p>I knew that if photography was like any other profession, there would be a conference at some point. That year, I attended my first photography conference in New York City. I attended Peter’s talk, where he discussed his craft and did a live demonstration. He was hysterical and awe inspiring. The energy he put out was incredible. I didn’t understand how he did it, but becoming a headshot photographer was my new goal.</p>
                </div>
            </div>



            <div>
                <p>I found my way to a party that Peter was co-hosting with the F-stoppers crew.  I grabbed a drink and introduced myself. Peter was so personable, and enjoyable to talk to. We discussed his antics on stage, and had a few laughs at the ridiculousness.</p>

                <p>Naturally, he asked to see my work. I showed him a few pictures on my mobile phone.  With absolutely no hesitation, he informed me that I “fuckin’ suck.” I thanked him, sarcastically, for the confidence booster.  Instead of walking away, however, I hung out with him until he invited me to join his coaching platform, formerly known as Ph2Pro. Today this platform is known as The Headshot Crew.</p>

                <p>I began the coaching process with Peter.  He didn’t sugar coat his critiques, but I did learn.  He helped me establish the foundation of my new career, both from a technical and an artistic perspective. With time, I began to understand my previous errors, but most importantly, I was correcting them.</p>

                <p>It was at this point that I made one of the dumbest, but most ambitious decisions of my life.  I stepped away from my Wall Street career as a bond analyst, and embarked on a life as headshot photographer.  When Peter found out, he thought I had lost my mind.</p>

            </div>


            <div class="two-cols-reverse call-out">

                <p>An important element of Peter’s coaching system is to promote his students as they successfully assemble a portfolio of images, which meets his standards. Through his signature review process, he studies each image, provides feedback, and if 15 images are accepted, Peter bestows the designation of Associate Photographer. This means that Peter believes the work is of the highest quality and consistency, and that he can confidently refer work to that photographer.</p>

                <Image src={lintRollerPhoto} alt="Richard Waine using lint roller, attention to detail in headshot photography" width={400} height={300} loading="lazy" />
            </div>

            <div class="two-cols">
                <Image src={bermudaCruisePhoto} alt="Richard and Ilyse on Bermuda cruise with The Headshot Crew" width={400} height={300} loading="lazy" />

                <div>
                    <p>The Headshot Crew had planned a cruise to Bermuda.  We would do some learning and shooting on- board, and also make a nice vacation of the trip. As plain as day, there was my opportunity.</p>

                    <p>For those who are unfamiliar with Peter, he uses the word SHA-BANG! as an enthusiastic response to... well, just about anything.</p>

                    <p>My review began. 20 images submitted, 15 needed to make Associate. He picked out a few things to talk about here and there.  Then… SHA-BANG! … SHA-BANG! … SHA-BANG! … SHA-BANG!</p>

                    <p>In total, 19 out of 20 images were accepted, and I received 4 SHA-BANGs.  With that, Peter made me an Associate photographer. My dear friends, who I had known since the beginning of this journey, offered hugs and congratulations. My wife, beamed with pride.  This was not an easy accomplishment.</p>

                    <p>That evening, my wife and I were seated at a hibachi table at a Japanese restaurant on board the cruise ship.  We were seated with folks we didn’t know. Suddenly, Peter was behind us, with arms wrapped around both of us.  He proudly announced to the table that they were sitting with "one of the best photographers in the world." It was an amazing feeling, and that was one of the coolest memories I’ve ever had.</p>

                </div>

            </div>

            <div class="call-out">
                <p>Today, I am a Mentor in the Headshot Crew, a global community of more than 14,000 headshot photographers.  I have been shooting headshots exclusively for the last 10 years, and am a brand ambassador for a handful of photography related companies. I respect my humble photography roots, and appreciate the success I have enjoyed.  I look forward to assisting my clients on their journey for success, and that begins with helping them to embrace their physical appearance and elevate their personal brands.

                </p>
            </div>

            <div class="two-cols-reverse">
                <div>  
                    <h2>THE EXPERIENCE</h2>
                    
                        <p>My goal is to provide you with high quality images that best represent you, your message, and your brand within the construct of high-end, enjoyable, and dynamic experience.</p>

                        <p>An impression is made within the first few seconds of seeing someone.  You don't have the luxury of wasting an opportunity to impress.  A visual representation of your unique personality and message to your audience, your competence and your approachability are paramount.</p>

                        <p>Whether you are in need of an updated LinkedIn profile photo, taking control of your digital identity, or you're looking for an amazing photo for a dating profile, you've come to the right place!</p>

                        <p>It is cheaper, faster and more efficient to get things right the first time.  I coach and direct you into positions and expressions that resonate with your target audience.</p>

                        <p>I want you to leave my studio having had an incredible experience, and with images that not only captivate your audience,  but are authentically you.</p>
                </div>
                
                <Image src={rwFinalV1Still} alt="Richard Waine working with client during headshot session" width={400} height={225} loading="lazy" />
            
            </div>


            <div class="call-out">
                <h2>MY BIO</h2>

                <p>I have spent the majority of my photography career working in commercial headshots and portraiture. I have been a headshot judge for the International Model and Talent Association, am a member of the Professional Photographers of America, Wedding & Portrait Photographers International, and National Association of Photoshop Professionals. I am an associate photographer and mentor in Peter's Hurley's Headshot Crew, and am a brand ambassador for Phase One and Savage Universal, and an affiliate of major companies like JPEGmini and Think Tank Photo. I have been published on many occasions, and continue to be a thought leader on the topics of personal branding and <a href="/">headshot photography</a>.</p>

                <p>All this really means is that I am a professional headshot specialist, and I am an expert in bringing out the very best in you, translating your message into a visual representation and providing an experience second to none!</p> 

            </div>

            <div class="two-cols">
                <Image src={img1912} alt="Richard Waine photographing a client" width={400} height={600} loading="lazy" />
                
                <div>
                    <p>I am an avid fan of music, with eclectic taste and a constant desire to play the air drums.  I have been a guitarist, drummer and saxophonist since I was around 9 years old, and I still play music that was popular in the 1950's.</p>

                    <p>I enjoy a good beer, and simply can't function without my morning coffee. Having spent my prior life on Wall Street, I’m also a business and finance geek.</p>

                    <p>I live in Lancaster, Pennsylvania with my family and our amazing dog, Harley. </p>

                </div>
            </div>


            <div class="two-cols-reverse">
                <div>
                    <p>Harley knows her best side.  See, she's showing it off!</p>

                    <p>Don't get thrown off by the fact that she is adorable.  She also has a thing for strolling through fresh mulch.</p>

                    <p>Hars, as we affectionately call her, is a Golden Doodle.  Despite being a behavior school drop-out, she is exceptionally well mannered, well behaved and lives to give kisses.</p>

                    <p>She loves people, long walks in the backyard, and enjoys a good beer from time to time.  She's partial to lagers, and won't even try a glass of wine or champagne.  She prefers watching Football and sharing a few pretzels with friends and family.</p>

                    <p>Yes, she has me wrapped around her paw...and she knows it!</p>
                </div>

                <Image src={harley1} alt="Harley, Richard's Golden Doodle dog" width={400} height={400} loading="lazy" />
            </div>


            <div class="two-cols call-out">
                <Image src={rwInSession} alt="Richard Waine wearing his signature hat during a photo session" width={400} height={300} loading="lazy" />
                
                <div>
                    <h2>
                    WHY DO YOU ALWAYS WEAR A HAT?
                    </h2>

                    <p>Besides being follically challenged (as much as I hate to admit it, I'm losing my hair), my infatuation with hats started when I was around 8 or 9 years old.  I had broken my nose and the plastic surgeon who stitched me up wanted to ensure that any scarring was minimal. He insisted I wear a hat to keep the sun from my face.  I never dropped the habit. Today, my collection of hats is insane, even though I'm usually seen in one or two particular black hats.</p>
                </div>
            </div>


            <iframe class="promo-video"  src="https://www.youtube.com/embed/Ys6NQmi9tqg?rel=0" 
            title="How to Elevate your brand with headshot photography" 
            frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
            web-share" allowfullscreen></iframe>



        
            <div class="companies">
                <Image class="" src={TetherTools} alt="Tether Tools logo" loading="lazy" />

                <Image class="" src={HSCMentor} alt="Headshot Crew Mentor logo" loading="lazy" />

                <Image class="" src={HSCLogo} alt="Headshot Crew logo" loading="lazy" />

                <Image class="" src={SavageLogo} alt="Savage Universal logo" loading="lazy" />

                <Image class="" src={JPEGmini} alt="JPEGmini logo" loading="lazy" />

                <Image class="" src={ThinkTank} alt="ThinkTank logo" loading="lazy" />
            </div>

        </div>



</main>


</MainLayout>

<style>


    h2{
        font-weight:var(--fw-bold);
    }

    p{
    margin-bottom:var(--size-3);
    
        }



.wrapper > div{
    margin-block:var(--size-9);
}

.two-cols, .two-cols-reverse{
    
    display:grid;
    grid-template-columns: 2fr;
    align-items:center;
    justify-content:center;
    justify-items:center;
    gap:var(--size-7);
      
}

.two-cols-reverse{
        grid-template-columns: 1fr;
  
    }

img{
    width:min(400px, 100%);
    height:auto;
   
   }



.call-out{
--ltbg:#eee;

    background:var(--ltbg);
    padding:var(--size-8);
    border-radius:var(--size-2);
    

}





:is(.featured video, .promo-video){
  --video-width:768px;
  --video-height:432px;
  width:min(var(--video-width), 100%);
    aspect-ratio: 16 /9;
  

  display:grid;
  grid-template-columns: 1fr;
  margin:var(--size-8) auto;
  
}
  
.companies{
    margin-block:var(--size-10);
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items:center;
    gap:var(--size-7);

    img{
        width:min(150px, 100%);
        height:auto;
        margin-inline:auto;
    }



}


/* ==========================================
   TABLET - min-width: 64em (1024px)
   ========================================== */
@media (min-width: 64em) {
.companies{
        grid-template-columns: repeat(6, 1fr);

        img{
            width:min(175px, 100%);
            }
        }

.two-cols, .two-cols-reverse{
    
    display:grid;
    grid-template-columns: 1fr 2fr;
       
}

.two-cols-reverse{
        grid-template-columns: 2fr 1fr;
  
    }


}


</style>