---
import { Image } from 'astro:assets';
import RWHeadshot from '../assets/images/blog/RichardWaine - (16 x 9).jpg';


interface BioSection {
  clipHeading: string;
  clipParagraphs: string[];
}

interface Props {
  bioSectionHeading: string;
  bioSections: BioSection[];
}

const { bioSectionHeading, bioSections } = Astro.props;



---

<div class="wrapper">

<h2 class="section-title hs-photographer white spacing center">
  {bioSectionHeading}
</h2>


<div class="bio-wrapper">

    <div class="bio-container">
      {bioSections.map((section, index) => (
        <div class={`clip clip${index + 1} lazy`} title={section.clipHeading}>
          <div class="bio-content">
            <h2 class="bio-content-h2">{section.clipHeading}</h2>
            {section.clipParagraphs.map((para) => (
              <p>{para}</p>
            ))}
          </div>
        </div>
      ))}
    </div>


</div>

<!-- Mobile/Tablet Bio Layout (displays below 1440px) -->
<div class="bio-mobile">
      <div class="bio-mobile-image">
          <Image src={RWHeadshot} alt="Richard Waine - Lancaster Headshot Photographer" loading="lazy" />
      </div>


      <div class="bio-mobile-content">
        {bioSections.map((section) => (
          <div class="bio-mobile-section">
            <h2 class="bio-content-h2">{section.clipHeading}</h2>
            {section.clipParagraphs.map((para) => (
              <p>{para}</p>
            ))}
          </div>
        ))}
      </div>

      
</div>

<style>
/* Lazy loading override for background images */
.lazy {
  background-image: none !important;
}

h2{
  margin-block:var(--size-3);
}

/*bio hover section*/
.bio-wrapper{


  --_wrapper-height:400px;
  --_wrapper-width:calc(var(--_wrapper-height) * 3); 

  box-shadow: var(--shadow);
  width: var(--_wrapper-width);
  max-width: 100%;
  height: var(--_wrapper-height);
  margin:0 auto;
  position: relative;



  display:none;
}

.bio-container {
  color: var(--blkclr);
 
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: var(--_wrapper-width);
  max-width: 100%;
  height: var(--_wrapper-height);
 




}

.bio-container .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;


}


.bio-container .clip.clip1,
.bio-container:hover {
  background: url('src/assets/images/blog/RW1 - (16 x 9).jpg');
  background-size: cover;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  
}
.clip.clip1 {
  background: url('src/assets/images/blog/RW1 - (16 x 9).jpg');
  background-size: cover;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 40% 0, 25% 100%, 0% 100%);
}
.clip.clip2 {
  background: url('src/assets/images/blog/RW2 - (16 x 9).jpg');
  background-size: cover;
  background-position: 0 -110px;
  background-repeat: no-repeat;
  clip-path: polygon(40% 0, 100% 0, 75% 100%, 25% 100%);
}
.clip.clip3 {
  background: url('src/assets/images/blog/RichardWaine - (16 x 9).jpg');
  background-repeat: no-repeat;
  background-size: 60% ;

  /* background-size:101%; */

  /* background-size:contain; */
  background-position: 510px -1px;
  clip-path: polygon(75% 0, 100% 0, 102% 100%, 60% 102%);
 
}
.bio-container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  
 
}
.bio-container .clip:hover {
  /* clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%); */

 clip-path: polygon(-2% -2%, 102% -2%, 102% 102%, -2% 102%);

}




.bio-content{
   line-height: var(--line-height-relaxed); 
  
}

.bio-container .clip.clip1 .bio-content {
  position: absolute;
  bottom: -100%;
 
  left: 0;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;
 
}

.bio-container .clip.clip1:hover .bio-content {
  bottom: 0;
  opacity: 0.85;
}
.bio-container .clip.clip2 .bio-content {
  position: absolute;
  /* bottom: 100%; */
  bottom:-90%;
  left: 0;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;

}
.bio-container .clip.clip2:hover .bio-content {
  bottom: 0;
  opacity: 0.85;
}
.bio-container .clip.clip3 .bio-content {
  position: absolute;
  top: 0;
  bottom:0;
  left: -100%;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;
 

  
}





.bio-container .clip.clip3:hover .bio-content {
  left: 0;
  opacity: 0.85;
}
.clip:hover .bio-content h2 {
  font: var(--fs-500) var(--ff-primary);
  letter-spacing: var(--ltr-space);
}
.bio-content p {
  font-family: var(--ff-secondary);
}



/* Mobile Bio Layout */
.bio-mobile {
  /* display: none;  */

  display:block;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.bio-mobile-image {
  
  width: 100%;
  max-width: 500px;
  margin: 0 auto var(--size-6);
}

.bio-mobile-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.bio-mobile-content {
  max-width: 800px;
  margin: 0 auto;
  color: var(--ltclr);
}

.bio-mobile-section {
  margin-bottom: var(--size-8);
}

.bio-mobile-section h2 {
  font-size: var(--fs-500);
  letter-spacing: var(--ltr-space);
  margin-bottom: var(--size-4);
  color: var(--ltclr);
}

.bio-mobile-section p {
  font-family: var(--ff-secondary);
  line-height: var(--line-height-relaxed);
  margin-bottom: var(--size-3);
}



/* Mobile-First: Desktop enhancements */
@media (min-width: 90em) {
  .bio-wrapper {
    display: block;
  }

  .bio-mobile {
    display: none;
  }
}

</style>

<script>
function initLazyBackgrounds() {
  const lazyElements = document.querySelectorAll('.clip.lazy');

  if (!lazyElements.length) return;

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.remove('lazy');
        observer.unobserve(entry.target);
      }
    });
  }, {
    rootMargin: '100px'
  });

  lazyElements.forEach(el => observer.observe(el));
}

// Astro View Transitions support
document.addEventListener('astro:page-load', initLazyBackgrounds);
</script>