---
import { Image } from 'astro:assets';
import graceLong from '../assets/images/didyouknow/Grace Long_Richard_Waine_Lancaster_PA_0805 - 3.jpg';
import wolfCavalo from '../assets/images/didyouknow/Wolf Cavalo_Richard_Waine_Lancaster_PA_0026-4.jpg';
import jocelynCrosby from '../assets/images/didyouknow/Jocelyn Crosby_Richard_Waine_Lancaster_PA_0339-1.jpg';
import brandonLesagonicz from '../assets/images/didyouknow/Brandon Lesagonicz_Richard_Waine_Lancaster_PA_0062.jpg';
import alyssaMiller from '../assets/images/didyouknow/Alyssa_Miller_Richard_Waine_Lancaster_PA_0099.jpg';
import danFineberg from '../assets/images/didyouknow/Dan Fineberg_Richard_Waine_Lancaster_PA_0632-3.jpg';
---


<div class="wrapper didyouknow-section-wrapper">
<div class="portraits center">
   
    <p class="portraits__title section-title">DID YOU KNOW?</p>
    <p class="portraits__paragraph paragraph">
    My clients often request other types of images in addition to headshots.
    </p>
    <p class="portraits__paragraph paragraph">I am happy to help you with your marketing, advertising, and personal branding photos.
    </p>
  </div>

<div class="portraits__images">
  <Image class="portrait portrait-1" loading="lazy" src={graceLong} width={2400} height={3000} alt="Full-length fashion modeling portrait of young female model with long blonde wavy hair wearing black leather moto jacket over white tank top with distressed rolled-cuff blue jeans brown leather belt and black pointed-toe heels photographed against neutral gray studio background by Richard Waine Photography Lancaster Pennsylvania, model portraits, modeling pictures" />

  <Image class="portrait portrait-2" loading="lazy" src={wolfCavalo} width={2400} height={3000} alt="Full-length black and white portrait of male musician with locs tucked under charcoal newsboy cap holding sunglasses dressed in all black outfit with crew neck sweater black leather pants silver belt buckle and lace-up boots photographed against white studio background by Richard Waine" />

  <Image class="portrait portrait-3" loading="lazy" src={jocelynCrosby} width={2400} height={3000} alt="Three-quarter length portrait of female flutist with long straight auburn red hair holding silver flute wearing charcoal gray sleeveless ruffle shoulder blouse with dark wash blue jeans photographed against neutral gray studio background by Richard Waine Photography Lancaster Pennsylvania" />

  <Image class="portrait portrait-4" loading="lazy" src={brandonLesagonicz} width={2400} height={3000} alt="Black and white portrait of male model with styled dark hair and goatee wearing rectangular frame eyeglasses gray suit jacket over black vest and open-collar shirt with visible wrist watch, arm and wrist tattoo and chest tattoo photographed against gray studio background by Richard Waine Photography Lancaster PA, model portrait" />

  <Image class="portrait portrait-5" loading="lazy" src={alyssaMiller} width={2400} height={3000} alt="Full-length portrait of female NFL cheerleader candidate with long dark brown wavy hair wearing red rhinestone-studded halter sports bra and matching red boy-short dance shorts with silver pendant necklace and white athletic sneakers photographed against gray studio background by Richard Waine" />

  <Image class=" portrait portrait-6" loading="lazy" src={danFineberg} width={2400} height={3000} alt="Full-length black and white portrait of male fitness model with short dark hair adjusting black necktie wearing classic black formal suit white dress shirt and black dress shoes in cinematic James Bond style pose photographed against gray studio background by Richard Waine Photography Lancaster PA,  fitness model, professional portraits, professional model portraiture" />

</div>
</div>




<style>
.didyouknow-section-wrapper{
  padding-block:var(--size-8);
}

/*portrait section*/
.portraits__images{
    display:grid;
    grid-template-columns:repeat(1fr);
    width:100%;
    padding:var(--size-4) 0;
    gap:var(--size-7);
    place-items: center;

    > *{
      object-fit:cover;
      width:100%;
      height:auto;
       }
}

.portrait{
  box-shadow:var(--shadow)
}
.portrait-6,.portrait-5,.portrait-2,.portrait-3{
  display:none
}

/* ==========================================
   TABLET - min-width: 48em (768px)
   ========================================== */

@media screen and (min-width: 48em) {
  .portraits__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: var(--size-7);
    margin: var(--size-4) 0;
  }

  .portrait-6, .portrait-5, .portrait-2, .portrait-3 {
    display: grid;
  }
}

</style>