---
import { Image } from 'astro:assets';
import graceLong from '../assets/images/didyouknow/Grace Long_Richard_Waine_Lancaster_PA_0805 - 3.jpg';
import wolfCavalo from '../assets/images/didyouknow/Wolf Cavalo_Richard_Waine_Lancaster_PA_0026-4.jpg';
import jocelynCrosby from '../assets/images/didyouknow/Jocelyn Crosby_Richard_Waine_Lancaster_PA_0339-1.jpg';
import brandonLesagonicz from '../assets/images/didyouknow/Brandon Lesagonicz_Richard_Waine_Lancaster_PA_0062.jpg';
import alyssaMiller from '../assets/images/didyouknow/Alyssa_Miller_Richard_Waine_Lancaster_PA_0099.jpg';
import danFineberg from '../assets/images/didyouknow/Dan Fineberg_Richard_Waine_Lancaster_PA_0632-3.jpg';
---


<div class="wrapper didyouknow-section-wrapper">
<div class="portraits center">
   
    <p class="portraits__title section-title">DID YOU KNOW?</p>
    <p class="portraits__paragraph paragraph">
    My clients often request other types of images in addition to headshots.
    </p>
    <p class="portraits__paragraph paragraph">I am happy to help you with your marketing, advertising, and personal branding photos.
    </p>
  </div>

<div class="portraits__images">
  <Image class="portrait portrait-1" loading="lazy" src={graceLong} width={2400} height={3000} alt="model portraits, modeling pictures, model photography" />
  <Image class="portrait portrait-2" loading="lazy" src={wolfCavalo} width={2400} height={3000} alt="branding photography, personal branding, personal branding pictures" />
  <Image class="portrait portrait-3" loading="lazy" src={jocelynCrosby} width={2400} height={3000} alt="musician pictures, publicity pictures, press kit images, richard waine photography" />
  <Image class="portrait portrait-4" loading="lazy" src={brandonLesagonicz} width={2400} height={3000} alt="model portrait, business portraits, branding pictures, photography studio" />
  <Image class="portrait portrait-5" loading="lazy" src={alyssaMiller} width={2400} height={3000} alt="business portraits, professional pictures, professional photography" />
  <Image class=" portrait portrait-6" loading="lazy" src={danFineberg} width={2400} height={3000} alt="fitness model, professional portraits, professional model portraiture" />
</div>
</div>




<style>
.didyouknow-section-wrapper{
  padding-block:var(--size-8);
}

/*portrait section*/
.portraits__images{
    display:grid;
    grid-template-columns:repeat(1fr);
    width:100%;
    padding:var(--size-4) 0;
    gap:var(--size-7);
    place-items: center;

    > *{
      object-fit:cover;
      width:100%;
      height:auto;
       }
}

.portrait{
  box-shadow:var(--shadow)
}
.portrait-6,.portrait-5,.portrait-2,.portrait-3{
  display:none
}

/* ==========================================
   TABLET - min-width: 48em (768px)
   ========================================== */

@media screen and (min-width: 48em) {
  .portraits__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: var(--size-7);
    margin: var(--size-4) 0;
  }

  .portrait-6, .portrait-5, .portrait-2, .portrait-3 {
    display: grid;
  }
}

</style>