---
import PrimaryButton from './PrimaryButton.astro';


import { Image } from 'astro:assets';
import ChubbContactSheet from '../assets/images/office-headshots/Chubb - ContactSheet (square).jpg';
import SallieMaeContactSheet from '../assets/images/office-headshots/SallieMae - ContactSheet (square).jpg';
import HavtechContactSheet from '../assets/images/office-headshots/Havtech - ContactSheet (square).jpg';
import KenGiglio from '../assets/images/office-headshots/KenGiglio - 0060 (500px).jpg';
import TsedeyAragie from '../assets/images/office-headshots/TsedeyAragie - 0018 (500px).jpg';
import AccelerateMortgage from '../assets/images/office-headshots/AccelerateMortgage - 0185 (500px).jpg';
import ShreePatel from '../assets/images/office-headshots/ShreePatel - 0105 (500px).jpg';
import RamiCastillo from '../assets/images/office-headshots/RamiCastillo - 0091 (500px).jpg';
import JasonCooley from '../assets/images/office-headshots/JasonCooley - 0032 (500px).jpg';
import CamilleSwann from '../assets/images/office-headshots/CamilleSwann - 0105 (500px).jpg';
import DebbieKerchner from '../assets/images/office-headshots/DebbieKerchner - 0063 (500px).jpg';


---

<div class="wrapper office-headshots-section-wrapper">
      <div class="office-headshots">

          <h2 class="section-title white office-headshots spacing">Office Headshots</h2>
          
    
          <div class="office-headshots-text">
              <p class="">
              CONSISTENT IMAGES FOR MAXIMUM IMPACT
          
              </p>

              <p class="">ALIGN YOUR TEAM PROFILE IMAGES WITH YOUR COMPANY'S BRAND</p>
              <p class="">YOU SPEND AN ENORMOUS AMOUNT OF MONEY ON BRANDING, MARKETING<br>AND COMMUNICATING COMPANY VALUES IN ORDER TO INCREASE MARKET SHARE AND GENERATE REVENUE
              </p>
          </div>
    
    
      </div>

      <div class="image-container">


      
      <Image src={SallieMaeContactSheet} alt="Sallie Mae, Employee Headshots, Team Headshots, Office Headshots" loading="lazy" class="contact-sheet contact-sheet1" height={1080} width={1080}/>
      

      <div class="image-grid image-grid1">
          <div class="quad-image-grid">

          <Image src={KenGiglio} alt="Team Headshots, Office Headshots, Brand Strategy and Personal Branding, on-location headshots, on location headshots, branding headshots, marketing headshots, professional headshots, professional headshot photographer, professional photographer, professional photography, portrait photography, portrait photographer" loading="lazy"  height={500} width={500}/>

       <Image src={TsedeyAragie} alt="Chief Creative Director headshots. Team headshots, group headshots on location, headshot, headshots, on-location headshots, on location headshots, pittsburgh headshots, pittsburgh office headshots, office headshots, lancaster headshots, lancaster office headshots, lancaster headshot photography, lancaster headshot photographer, harrisburg office headshots, harrisburg headshots, harrisburg attorney headshots, delaware professional headshots, professional headshots, baltimore headshots, contemporary headshots, lancaster expo headshots, philadelphia expo headshots" loading="lazy" height={500} width={500} />

      <Image src={AccelerateMortgage} alt="Executive headshots, marketing headshots, office branding, branding headshots, headshot, headshots, professional headshots, professional headshot photography, professional headshot photographer, Lancaster headshots, Lancaster headshot photography, Philadelphia headshots, Philadelphia professional headshot photographer, Philly headshot photographer, on location headshots, on-location headshots, team headshots, group headshots, Lancaster conference headshots, Philadelphia conference headshots" loading="lazy" height={500} width={500} />

      <Image src={ShreePatel} alt="Executive headshots. Team building and brand alignment, headshot, headshots, professional headshots, professional headshot photography, professional headshot photographer, philadelphia headshot photographer, on-location headshots, on location headshots, office headshots, marketing headshots, harrisburg headshots, harrisburg team headshots, harrisburg office headshots, harrisburg headshot photographer, philly headshots, philly headshot photographer, philadelphia professional headshots, pittsburgh professional headshots, corporate headshots, company headshots, employee headshots, staff headshots on location, staff headshots, pittsburgh office headshots, philadelphia office headshots, lancaster convention headshots, philadelphia conference headshots, lancaster trade show headshots" loading="lazy" height={500} width={500} />
    

      
      
        </div> 

      </div>
      <Image src={ChubbContactSheet} alt="Chubb Insurance,Insurance Company Headshots ,Employee Headshots, Team Headshots, Office Headshots" loading="lazy" class="contact-sheet contact-sheet2" height={1080} width={1080}/>

        
      
      <div class="image-grid image-grid2">
        <div class="quad-image-grid">

<Image src={RamiCastillo} alt="Team Headshots, Office Headshots, Brand Strategy and Personal Branding, on-location headshots, on location headshots, branding headshots, marketing headshots, professional headshots, professional headshot photographer, professional photographer, professional photography, portrait photography, portrait photographer" loading="lazy" height={500} width={500} />


      
<Image src={DebbieKerchner} alt="Chief Creative Director headshots. Team headshots, group headshots on location, headshot, headshots, on-location headshots, on location headshots, pittsburgh headshots, pittsburgh office headshots, office headshots, lancaster headshots, lancaster office headshots, lancaster headshot photography, lancaster headshot photographer, harrisburg office headshots, harrisburg headshots, harrisburg attorney headshots, delaware professional headshots, professional headshots, baltimore headshots, contemporary headshots, lancaster expo headshots, philadelphia expo headshots" loading="lazy"  height={500} width={500}/>


      <Image src={CamilleSwann} alt="Executive headshots, marketing headshots, office branding, branding headshots, headshot, headshots, professional headshots, professional headshot photography, professional headshot photographer, Lancaster headshots, Lancaster headshot photography, Philadelphia headshots, Philadelphia professional headshot photographer, Philly headshot photographer, on location headshots, on-location headshots, team headshots, group headshots, Lancaster conference headshots, Philadelphia conference headshots" loading="lazy" height={500} width={500} />

   <Image src={JasonCooley} alt="Executive headshots. Team building and brand alignment, headshot, headshots, professional headshots, professional headshot photography, professional headshot photographer, philadelphia headshot photographer, on-location headshots, on location headshots, office headshots, marketing headshots, harrisburg headshots, harrisburg team headshots, harrisburg office headshots, harrisburg headshot photographer, philly headshots, philly headshot photographer, philadelphia professional headshots, pittsburgh professional headshots, corporate headshots, company headshots, employee headshots, staff headshots on location, staff headshots, pittsburgh office headshots, philadelphia office headshots, lancaster convention headshots, philadelphia conference headshots, lancaster trade show headshots" loading="lazy" height={500} width={500} />


      

        </div>
      
      </div>
      
    <Image src={HavtechContactSheet} alt="Havtech, HVAC headshots, HVAC employees, team headshots, company headshots, office headshots" loading="lazy" class="contact-sheet contact-sheet3" height={1080} width={1080}/>

    


    </div> 


      <div class="office-headshots-two center spacing white">
          <p>ON LOCATION HEADSHOTS SAVE TIME, MONEY, AND INCREASE PRODUCTIVITY</p>
          <p>LET ME BRING THE STUDIO TO YOU!</p>
      </div>

      <div class="button-center">
          <div class="button-wrapper">
            <PrimaryButton text="REQUEST PROPOSAL" url="/request-proposal" />
          </div>
      </div>
    </div>


<style>

 .office-headshots-section-wrapper{
  padding-block:var(--size-8);
  }

.office-headshots{
    text-align:center;
    color:var(--ltclr);
}

.office-headshots-text p{
    margin-block:var(--size-4);
    line-height:var(--line-height-relaxed);
}
.office-headshots-text p:nth-child(1){
    font-weight:var(--fw-bold);
}

.office-headshots-two p:not(:first-child){
  margin-top:var(--size-3);
}

.office-headshots-two{
  margin-block:var(--size-3);
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: var(--size-5);

  
}

/*office headshots images*/
.image-container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  width:100%;
  align-items:center;
  justify-items:center;
  height:min-content;
 
}
  
  .image-container > *{
    --_shadow:2px 5px 10px var(--shadow-clr-medium);

    max-width:400px;
    max-height:auto;
    box-shadow:var(--_shadow);
    margin-block: var(--size-3);
  }

.contact-sheet1,.contact-sheet3,.image-grid1{
  display:none;
}


 /* ==========================================
   LARGE DESKTOP - min-width: 48em (768px)
   ========================================== */

  @media screen and (min-width: 48em){
    .image-container{
    display:grid;
      width:100%;
      grid-template-columns: repeat(5, 1fr);
      justify-content:space-between;
      gap:var(--size-7);
      padding-block:var(--size-7);
      margin-inline:0;
   }

   .contact-sheet1,.contact-sheet3,.image-grid1{
     display:block;
   }
  }  

  
 /*small image grids*/
.quad-image-grid{
  display:grid;
  grid-template-columns:1fr 1fr ;
  grid-template-rows:1fr;
  place-items:center;
  grid-auto-rows: auto;
  justify-content:center;
  width:100%;
  height:auto;
  gap:var(--grid-row-gap);
}
  
.quad-image-grid > *{ 
   width:100%;
   height:auto;

  }
  

  .contact-sheet{
    width:100%;
    height:auto;
    
  }

</style>