---
export interface Props {
    title?: string;
    description?: string;
    prefixText?: string;
    highlightText?: string;
    suffixText?: string;
}

const {
    title = "DO YOU HATE HAVING YOUR PICTURE TAKEN?",
    description = "LACK OF CONFIDENCE, FEAR OF FAILURE, AND FEELING THAT YOU AREN'T PHOTOGENIC,<br>PREVENT YOU FROM SHOWING YOUR TRUE SELF",
    prefixText = "A",
    highlightText = "PROFESSIONAL HEADSHOT",
    suffixText = "EXPERIENCE CAN CHANGE EVERYTHING"
} = Astro.props;

// Import problem section images
import { Image } from 'astro:assets';
import image0090 from '../assets/images/problem/Headshot_20250917_Sonya Lilienstein_Richard Waine_Lancaster_PA_0090 (horizontal) - compressed.jpg';
import image0056 from '../assets/images/problem/Headshot_20250917_Sonya Lilienstein_Richard Waine_Lancaster_PA_0056 (horizontal) - compressed.jpg';
import image0079 from '../assets/images/problem/Headshot_20250917_Sonya Lilienstein_Richard Waine_Lancaster_PA_0079 (horizontal) - compressed.jpg';
---

<!-- CONCEPT 5: Diagonal Triptych -->
<div class="diagonal-triptych">
    <div class="problem-text-top">
        <h2 class="problem-title">{title}</h2>
        <p class="problem-description" set:html={description}></p>
    </div>

    <div class="triptych-container">
        <div class="triptych-panel panel-left">
            <Image src={image0090} alt="Professional headshot example showing confident expression" class="diagonal-img" loading="lazy" layout='constrained' width={1475} height={1180} />
            <div class="panel-overlay"></div>
        </div>
        <div class="triptych-panel panel-center">
            <Image src={image0056} alt="Professional headshot demonstrating quality photography" class="diagonal-img" loading="lazy" layout='constrained' width={1475} height={1180} />
            <div class="panel-overlay"></div>
        </div>
        <div class="triptych-panel panel-right">
            <Image src={image0079} alt="Executive headshot showcasing professional presence" class="diagonal-img" loading="lazy" layout='constrained' width={1475} height={1180} />
            <div class="panel-overlay"></div>
        </div>
    </div>

    <div class="problem-text-bottom">
        <p class="problem-accent">{prefixText} <span class="highlight">{highlightText}</span> {suffixText}</p>
    </div>
</div>

<style is:global>
    /* CONCEPT 5: Diagonal Triptych - SVG clipPath Method */
    .diagonal-triptych {
        
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto auto auto;
        
        gap:0;
        place-items: center;
        width: 100%;
        height: 100%;
        /* padding-block:var(--size-8); */

        /* Border thickness controls */
        --_triptych-border:2.25%;
        --_triptych-border-top: calc( var(--_triptych-border) + .5%);
        --_triptych-border-right: var(--_triptych-border);
        --_triptych-border-bottom: calc( var(--_triptych-border) + .5%);
        --_triptych-border-left: var(--_triptych-border);
    }

    .diagonal-triptych .triptych-container {
        margin-block: var(--size-7);
        display: grid;
        grid-template-columns: 1fr;
    
        gap: var(--size-7);
        width: 100%;
        height:auto;
        /* height: 50%; */
        max-inline-size:80%;
        justify-self:center;


    }

    .diagonal-triptych .triptych-panel {
        flex: 1;
        position: relative;
        overflow: visible;
        background: #000;
        background:linear-gradient(270deg,#000, var(--accent))
        
        
    }

    .diagonal-triptych .triptych-panel::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;


    }

    /* Apply CSS clipPaths */
    .diagonal-triptych .panel-left {
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    }

    .diagonal-triptych .panel-left::before {
     

        clip-path: polygon(
            var(--_triptych-border-left) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(85% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
      
    }

    .diagonal-triptych .panel-center {
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        z-index: 1;
        margin-inline:-4%;
    }

    .diagonal-triptych .panel-center::before {
        clip-path: polygon(
            calc(15% + var(--_triptych-border-left)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(85% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
    }

    .diagonal-triptych .panel-right {
        clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .diagonal-triptych .panel-right::before {
        clip-path: polygon(
            calc(15% + var(--_triptych-border-left)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
    }

    .diagonal-triptych .diagonal-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
   
    }

    .diagonal-triptych .panel-left .diagonal-img {
        clip-path: polygon(
            var(--_triptych-border-left) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(85% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
    
    }

    .diagonal-triptych .panel-center .diagonal-img {
        clip-path: polygon(
            calc(15% + var(--_triptych-border-left)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(85% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
    }

    .diagonal-triptych .panel-right .diagonal-img {
        object-position: 20%;
        clip-path: polygon(
            calc(15% + var(--_triptych-border-left)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) var(--_triptych-border-top),
            calc(100% - var(--_triptych-border-right)) calc(100% - var(--_triptych-border-bottom)),
            var(--_triptych-border-left) calc(100% - var(--_triptych-border-bottom))
        );
    
    }

    .diagonal-triptych .panel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .diagonal-triptych .problem-text-top {
        text-align: center;
        /* margin-bottom: 3rem; */
        max-width: 80%;
        margin-inline: auto;
    }

    .diagonal-triptych .problem-title {
        font-size: var(--fs-800); /* 32px */
        font-weight: 700;
        text-transform: uppercase;
        line-height: var(--line-height-tight);
        margin: 0 0 var(--size-7) 0;
        color: var(--blkclr);
    }

    .diagonal-triptych .problem-description {
        font-size: var(--fs-500); /* 20 px */
        line-height: var(--line-height-relaxed);
        margin: 0;
        color: var(--blkclr);
    }

    .diagonal-triptych .problem-text-bottom {
        text-align: center;
        /* margin-top: 3rem; */
        max-width: 80%;
        margin-inline: auto;
    }

    .diagonal-triptych .problem-accent {
        font-size: var(--fs-550); /* 22px */
        font-weight: 700;
        line-height: var(--line-height-relaxed);
        margin: 0;
        color: var(--blkclr);
    }

    .diagonal-triptych .highlight {
        /* color: #03a9f4; */
    }

  

/* Mobile-First: Desktop enhancements */
@media (min-width: 64em) {
    .diagonal-triptych .triptych-container {
        display: flex;
        gap: 0;
        margin-block: 0;
        max-inline-size:75%;
        
    }


    .diagonal-triptych .problem-text-bottom {
        display:grid;
        align-self: start;
        text-align: center;
        margin-top:3em;
      
       

        max-width: 80%;
        margin-inline: auto;
    }

    .diagonal-triptych .problem-text-top{
        display:grid;
        align-self:end;
        margin-bottom:3em;
    }
}
</style>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    // Animate problem text elements
    gsap.from('.problem-title', {
        y: 50,
        opacity: 0,
        duration: 1,
        ease: 'power2.out',
        scrollTrigger: {
            trigger: '.problem-title',
            start: 'top 80%'
        }
    });

    gsap.from('.problem-description', {
        y: 50,
        opacity: 0,
        duration: 1,
        delay: 0.2,
        ease: 'power2.out',
        scrollTrigger: {
            trigger: '.problem-description',
            start: 'top 80%'
        }
    });

    gsap.from('.problem-accent', {
        y: 50,
        opacity: 0,
        duration: 1,
        ease: 'power2.out',
        scrollTrigger: {
            trigger: '.diagonal-triptych',
            start: 'bottom 90%'
        }
    });
</script>
