---
import type { TestimonialData } from '../types/components';
import { ALL_TESTIMONIALS } from '../data/testimonials';
import TestimonialCard from './TestimonialCard.astro';

export interface Props {
  title?: string;
  limit?: number;
  filterByNames?: string[];
  testimonials?: TestimonialData[];
}



const { 
  title = "Why choose Richard Waine?",
  limit = Infinity, 
  filterByNames //
  // testimonials prop and hardcoded array removed here
} = Astro.props;

// We will use ALL_TESTIMONIALS directly

const testimonialsToDisplay = filterByNames
  ? ALL_TESTIMONIALS.filter(testimonial => filterByNames.includes(testimonial.name)).slice(0, limit)
  : ALL_TESTIMONIALS.slice(0, limit);
---

<div class="wrapper testimonial-section-wrapper">
  {title && (
  <h3 class="section-title why-choose center white">
    {title}
  </h3>
)}


  <div class="testimonial-2">
  {testimonialsToDisplay.map(testimonial => ( // Note: we're using testimonialsToDisplay now
    <TestimonialCard
      testimonialText={testimonial.review}
      author={testimonial.name}
      company={testimonial.company}
      imageSrc={testimonial.imageUrl}
      image={testimonial.image}
      imageAlt={testimonial.imageAlt}
      
    />
  ))}
</div>

</div>


<style>
.testimonial-section-wrapper{
  padding-block:var(--size-8);
}



/*testimonials-2*/
.why-choose {
  padding-block: var(--size-4);
  text-transform:uppercase;
}


.testimonial-2 {
  margin: var(--size-6) auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--size-4);
  text-align: center;

}

/* ==========================================
   LARGE DESKTOP - min-width: 67.5em (1080px)
   ========================================== */
@media screen and (min-width: 67.5em) {
  .testimonial-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding-inline: var(--size-12);
  }
}
</style>