---
import { Image } from 'astro:assets';

interface Props {
  
  imageSrc: string;
  image: any;
  imageAlt: string;
  author:string;
  testimonialText:string;
  company: string;
}

const { testimonialText, author, company, imageSrc, image, imageAlt } = Astro.props;


---




<div class="testimonial-2">
        <div class="card-testimonial">
                <div class="testimonial-content">
                        <p class="stars">&#9733&nbsp&#9733&nbsp&#9733&nbsp&#9733&nbsp&#9733</p><p class="white">{testimonialText}
                        </p>
                        
                        <br>
                        
                        <div class="testimonial-image"><Image src={image} height={128} width={128} alt={imageAlt} /> 
                        </div>
                            
                        <div class="testimonial-details">
                            <p class="white author">{author}</p><span>{company}</span>
                        </div>
                </div>
        </div>
</div>

<style>
    .stars {
  color: var(--stars);
  /* padding: var(--size-2) 0 0; */
  padding-block: var(--size-2);
}




:is(.testimonial-content p, .testimonial-details h5, .testimonial-details .author) {
  font-size: var(--fs-400);
  padding-top:var(--size-3);

  
}




.testimonial-2 {
  /* margin: 0 auto var(--size-6); */
  margin: var(--size-6) auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--size-4);
  padding: 0;
  padding-inline:var(--size-7);
  text-align: center;
  justify-items:center;

}



.testimonial-2 .card-testimonial {
  position: relative;
  margin: auto;
  background: var(--drkbg);
  padding: var(--size-4) var(--size-2) var(--size-4);
  box-shadow: var(--shadow);
  overflow: hidden;
  border: var(--border) var(--accent);
  margin-inline:var(--size-4);
  width: min(360px, 100%);
  
}

.testimonial-content {
  padding-inline: var(--size-2);
  
  
}

.testimonial-content p,
.rates-card-testimonial p {
  /* line-height: 1.9; */
   padding-inline: var(--size-4);
  
  
}

.testimonial-image {
  --_img-size: 128px;

  width: var(--_img-size);
  height: var(--_img-size);
  margin: var(--size-3) auto;
  border-radius: 50%;
  overflow: hidden;
  border: var(--border) var(--ltclr);
  box-shadow: var(--shadow);
  box-sizing: content-box;
}


.testimonial-details {
    
  margin-block: var(--size-3);
  
}



.testimonial-details span {
  color: var(--accent);
  font-size: var(--fs-400);
  
}
</style>